.social{
    //background-color: wheat;
    padding: auto;
    width: 50px;
    position:absolute;
    top:auto;
    right: 20px;
    ul{
        list-style: none;
        padding: 1rem;
        flex-direction: column;
    }
    li{
        transition: all 0,5s ease;
        a{
            color:blanchedalmond;
            text-decoration: none;
            display: flex;
            justify-content: space-around;
            align-items: center;
            font-size: 1.5rem;
        }&:hover
        {
            transform: scale (1.4);
        }
    }
}