@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import "_header";
@import "social";
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.texto
{
    color:white
}
.titulo
{
 text-align: center;
 margin-bottom: 30px;
}
.parrafo
{
    background-image: linear-gradient(to left, rgb(168, 21, 21) , rgb(169, 199, 37));
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: larger;
    color: black;      
}
.footer__creditos
{
    padding-top: 10px;
    height: 50px;
    color: white;
    font-size: 20px;
    text-align: center;
    background-color: black;
}
.card__imagen1
{
    height: 200px;
    width: 200px;
    background-color: darkkhaki;
    border: solid 7px rgb(17, 12, 87);
    display: inline-block;
    transform: skewY(5deg);
   }
   //maps
   $redes: ( /*Declaramos nuestro mapa*/
   facebook: blue,
   instagram:  #3a5795,
   whatsapp: green
); 
.icon-social
{
    font-size: 1.5rem;
    padding: 1.5rem;
}
/*Creamos el bucle para usar los valores del mapa*/
@each $red, $color in $redes {
.btn--#{$red} {
  background-color: $color;
  @extend .icon-social;
}
}

